<!DOCTYPE html>
<html>
    
<head>
  <style>
  ${STYLE}
  </style>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
    
<body>

<h1 id="artifact">${ARTIFACT_ID}</h1>
<p id="package">${CURRENT_DIRECTORY}</p>
<table id="versions">
  <thead>
    <tr>
      <th>Version</th>
      <th>Uploaded</th>
      <th>Uploader</th>
    </tr>
  </thead>
  <tbody>
    ${VERSION_LIST}
  </tbody>
</table>

<script>
  var times = document.getElementsByClassName("time")
  
  for (let i = 0; i < times.length; i++) {
      var date = new Date(0)
      date.setUTCSeconds(parseInt(times[i].textContent))
      times[i].textContent = date.toLocaleString()
  }
</script>

</body>
</html>